<html>
    <head>
        <style>
            {style}
        </style>
    </head>
</html>

<body>
    <div class="flex_center">
        <div class="flex_center color_pallet neutrals900">neutrals900</div>
        <div class="flex_center color_pallet neutrals700">neutrals700</div>
        <div class="flex_center color_pallet neutrals500">neutrals500</div>
        <div class="flex_center color_pallet neutrals300">neutrals300</div>
        <div class="flex_center color_pallet neutrals100">neutrals100</div>
    </div>
    <div class="flex_center">
        <div class="flex_center color_pallet primary900">primary900</div>
        <div class="flex_center color_pallet primary700">primary700</div>
        <div class="flex_center color_pallet primary500">primary500</div>
        <div class="flex_center color_pallet primary300">primary300</div>
        <div class="flex_center color_pallet primary100">primary100</div>
    </div>
    <div class="flex_center">
        <div class="flex_center color_pallet secondary900">secondary900</div>
        <div class="flex_center color_pallet secondary700">secondary700</div>
        <div class="flex_center color_pallet secondary500">secondary500</div>
        <div class="flex_center color_pallet secondary300">secondary300</div>
        <div class="flex_center color_pallet secondary100">secondary100</div>
    </div>
    <div class="flex_center">
        <div class="flex_center color_pallet error">error</div>
        <div class="flex_center color_pallet success">success</div>
    </div>
</body>